*{
    font-family: Lato;
    background-color: #05010f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: white;
    border-radius: 2%;
    padding: 30px;
}
p, h1, h3, a {
    background-color: white;
    color: black;
}

p {
    font-size: 120%;
}

.input {
    background-color: white;
    width: 100%;
    margin: 0.4rem 0rem 0.4rem 0rem;
    height: 30px;
}

.button {
    background-color:#a744c5;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.2s;
    padding: 10px;
    font-family: Roboto;
    margin-top: 1rem;
    
}

.button:hover {
    background-color: #c88adb;
    color: black;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 1.2rem;
    font-size: 300%;
    background-color: white;
}

h3 {
    color: black;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 100%;
    background-color: white;
}

.copyright {
    margin-top: 2rem;
    font-size: 80%;
    text-align: right;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;   
    top: 2rem;
    left: 2rem;
    text-decoration: none;
    font-variant-ligatures: common-ligatures;
    font-family: 'Fira Code';
    text-shadow: 1px;
}